.c-f{
   background-image: url(images/p1.png); 
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   z-index: -10;
}

.c-f2{
    background-image: url(images/p1.png); 
    background-repeat: no-repeat;
    background-position: top;
  
 }
 

.bb-1{
    background-color: orange;
    color: white;
    border:1px solid orange;
}
.boxes{
    border-radius: 20px;
}

.p-c{
  margin-top: -100px;
   left: 1%;
   
    
}
.h-1{
    color: #4255A4;
}

.star{
    color: orange;
}

.radius{
    border-radius: 15px;
}

.arrow{

    border-radius: 50px;
    font-size: 30px;
    padding: 10px;
    color: white;
    background-color:#4255A4 ;
}

.check{
    font-size: 30px;
    color: orange;
    
}

.playbtn{
    
    font-size: 70px;
    color: orange;
    
}
.hover:hover{
    z-index: 10;
    text-decoration: underline;
    
    
}

.swiper {
    width: 100%;
  
  }

  .swiper-slide {
   
    
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%; 
    object-fit: cover;
  }

  .bg-color{
    background-color: #4255A4 ;
  }
 
  .span{
    z-index: 10;
    position: relative;
  }


  .anim-btn::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background-color: #AE59FF;
    top: 0;
    left: 0;
    transition: all 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
    z-index: 1;
    border-radius:0.50rem;

  }

    .anim-btn:hover::before{
        width: 100%;
        color: white;
    }

    .anim-btn1::before{
        content: "";
        position: absolute;
        height: 0%;
        width: 100%;
        background-color: #AE59FF;
        top: 0;
        left: 0;
        transition: all 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
        z-index: 1;
        border-radius:0.50rem;
    
      }

      .anim-btn1:hover::before{
        height: 100%;
        color: white;
    }