.c-f{
   background-image: url(images/p1.png); 
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}


.bb-1{
    background-color: orange;
    color: white;
    border:1px solid orange;
}
.boxes{
    border-radius: 20px;
}

.p-c{
   top: 66%;
   left: 50%;
   border: 1px solid green; 
}
.h-1{
    color: #4255A4;
}