.c-f{
   background-image: url(images/p1.png); 
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   z-index: -10;
}


.bb-1{
    background-color: orange;
    color: white;
    border:1px solid orange;
}
.boxes{
    border-radius: 20px;
}

.p-c{
  margin-top: -100px;
   left: 1%;
   
    
}
.h-1{
    color: #4255A4;
}

.star{
    color: orange;
}

.radius{
    border-radius: 15px;
}

.arrow{

    border-radius: 50px;
    font-size: 30px;
    padding: 10px;
    color: white;
    background-color:#4255A4 ;
}

.check{
    font-size: 30px;
    color: orange;
    
}

.playbtn{
    
    font-size: 70px;
    color: orange;
    
}
.hover:hover{
    z-index: 10;
    text-decoration: underline;
    
    
}

.swiper {
    width: 100%;
   
  }

  .swiper-slide {
   
    
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    
    object-fit: cover;
  }